[2015-08-31 19:47] dschalk opened #1 "No color graphics in Ubuntu 14.04"
I can see in my console log that start and finish times are being observed, but I am not seeing color graphics or any new display in the browser. I checked this with Chrome, Firefox, and Opera on my Ubuntu 14.04 box. The web page I am testing loads from http://schalk.ninja .

[2015-08-31 21:07] mweststrate commented on #1
@dschalk

I'm still updating docs, but did you already switch to `reactiveComponent` from `mobservable` to `mobservable-react`? I've splitted the `mobservable` package into two, but left the old version in `mobserable` for backward compatibility. The new one contains the dev tool support though.

[2015-09-01 23:46] dschalk commented on #1
I used the decorator method with mobservable-react. It's working now. Thanks.

[2015-09-02 04:48] #1 closed, assigned to nobody

[2015-12-11 21:35] thunderkid opened #2 "Cannot find module css-loader"
I've installed this for a simple (typescript) project. I get a compilation error saying:
 Cannot find module '!!./../node_modules/css-loader/index.js!./devtools.css' from \my\path\node_modules\mobservable-react-devtools.
I also tried installing css-loader, but that makes no difference.
Am I supposed to do anything else beyond just the npm install and using require in my main .ts file? Thanks.

[2015-12-11 22:20] mweststrate commented on #2
You're right, there were still webpack artifacts in the build, so building with something else would probably break it. I've just published 2.0.2, does that version fix the issue?

[2015-12-11 22:31] thunderkid commented on #2
Well, it fixed the compilation issue. But I'm not sure it's actually doing anything. I was expecting to see little icons by my table showing how many times each item had been rendered, but nothing's appearing. The console log isn't showing anything either. I've also tried require in the actual tsx file doing the rendering, but still nothing appears on screen.

[2015-12-11 22:43] mweststrate commented on #2
Could you check whether the toolbar is in the the dom at the end of the
body (class: mobservable-devtools-wrapper)? just an import it is enough:
`import "mobservable-react-devtools"`. Make sure you don't import it under
a name, because then the compiler will optimize it away as you don't
actively use it in the file.

On Fri, Dec 11, 2015 at 11:31 PM, thunderkid notifications@github.com
wrote:

[2015-12-12 00:17] thunderkid commented on #2
No, I'm not seeing the toolbar in the dom. However, the compiled js does contain mobservable-react-devtools code, and so does the css. It's just not in the dom.

[2015-12-14 12:13] mweststrate commented on #2
Could you try 2.0.4? I've added some logging to the startup. I also added the devtools to the typescript-react boilerplate project, so you could compare your setup with that one as well: https://github.com/mweststrate/mobservable-react-typescript

[2015-12-14 15:06] thunderkid commented on #2
I tried 2.0.4. Still nothing appearing. In the console I get an error message saying:

[code]

I do have react mounted on the document body. I also tried wrapping it in a 'container' div, but that makes no difference.

And when I try to clone and run your boilerplate project (on Windows 8) it fails with the following error log:

[code]

[2015-12-14 15:24] mweststrate commented on #2
Not mounting react on document.body should fix it I think, unless something
else is clearing the body as well. Can you double check that you really
aren't still mounting on the document.body node? You can simply check that
using the react devtools or by checking whether a react-id attribute is
present. Note that react itself should warn you as well when mounting
document.body.

Ahh.. windows :) I'

[2015-12-14 18:26] mweststrate commented on #2
Which browser are you using?

[2015-12-15 21:57] thunderkid commented on #2
So, I'm using Chrome Version 45.0.2454.99 m.
My main ts file basically just does:

[code]

My DOM is showing in chrome's elements tab as:

[code]

So it seems I'm not mounting on the body, but I have no toolbars. Is that what you mean?

[2015-12-16 07:47] mweststrate commented on #2
Hmm.. intriguing. Could you quickly try whether removing the jquery ready
function makes a difference? Or doing the import after the ReactDOM.render
using `require('mobservable-react-devtools');`? If changing either of these
is hard I'll try to rebuild your use-case.

On Tue, Dec 15, 2015 at 11:09 PM, thunderkid notifications@github.com
wrote:

[2015-12-16 18:07] thunderkid commented on #2
Using `require('mobservable-react-devtools')` below the render makes no difference.
If I take out the jquery ready function altogether, I just get the error:
`_registerComponent(...): Target conatiner is not a DOM element.`
So instead, I've tried replacing it with `window.onload = function() { ReactDOM.render(...`
That makes no difference either.

[2015-12-16 19:00] mweststrate commented on #2
Ok thanks for the info, I'm gonna try to reproduce this with a similar setup.

[2015-12-17 17:29] corintho opened #3 "CSS Style"
I would suggest adding a high value 'z-index' property to the class: `.mobservable-devtools-wrapper` or add instructions in the documentation warning that it may remain hidden under a fixed header.
In my case, it was hidden under a fixed header I have and I added the z-index in a CSS file in my project to fix it.

[2015-12-18 18:36] mweststrate commented on #3
Thanks for pointing this out! I will increase the number.

[2015-12-18 18:45] mweststrate commented on #2
I tried to mimic your setup in the test project you provided earlier for the mobservable-react issue. Could you verify whether this setup works for you and compare it with your own setup? I wasn't able to reproduce the issue so far.
[more-animals.zip](https://github.com/mweststrate/mobservable-react-devtools/files/67029/more-animals.zip)

[2015-12-19 00:05] thunderkid commented on #2
Ok, thanks. That showed me what was wrong. I've been putting my `<script src="js/bundle.js"></script>` at the bottom of the `<header>` block, which doesn't work. Putting it at the bottom of the `<body>` block instead makes it work.

[2015-12-19 00:05] #2 closed, assigned to nobody

[2015-12-21 10:38] #3 closed, assigned to nobody

[2015-12-21 10:38] mweststrate commented on #3
Fix published as 2.0.5

[2016-02-26 15:45] mweststrate opened #6 "Expose typescript typings from the module"
So that the following import in typescript is correct:

[code]

[2016-03-01 12:39] #6 closed, assigned to nobody

[2016-03-01 15:05] SteveALee opened #10 "this repository description includes 'mobservable'"
Needs to be changed to mobx

[2016-03-02 19:25] mweststrate commented on #10
Tnx!

[2016-03-02 19:25] #10 closed, assigned to nobody

[2016-03-03 04:05] foxhound87 opened #11 "ReferenceError: window is not defined"
Hello, I got issues loading the devtools with server side rendering.

I'm using react-router v2 following this guide:
https://github.com/reactjs/react-router-tutorial/blob/start/lessons/13-server-rendering.md

If I remove the devtools, the page is rendered correctly.

[code]

[2016-03-03 07:44] mweststrate opened #12 "UMD build doesn't work in globals mode"
Setup correct aliases in webpack

[2016-03-03 07:58] mweststrate commented on #11
Thanks for reporting. DevTools will have no use server side, but I'll make sure they will just do nothing, silently.

[2016-03-03 13:23] msuntharesan opened #13 "Can this be attached to any dom outside the react app root?"
similar to [`redux-devtools`](https://github.com/gaearon/redux-devtools).
Because I want to leverage webpack `code splitting` with this. Something like this

[code]

[2016-03-03 14:34] mweststrate commented on #13
That should work fine, as long as that part of the DOM isn't shared with the 'real' react component root.

[2016-03-05 08:23] #13 closed, assigned to nobody

[2016-03-07 22:42] #12 closed, assigned to nobody

[2016-03-08 00:41] #11 closed, assigned to nobody

[2016-03-08 00:42] mweststrate commented on #11
Should be fixed by version `4.0.2`

[2016-03-08 16:35] foxhound87 commented on #11
It works! thank you

[2016-04-20 20:36] brownish opened #15 "Console logging needs to be turned off and off again before working with server-side rendering"
When using server-side rendering, the console logging button is blue (should be active) but nothing is logging. If I turn it off and back on again logging then works. Any way to have logging automatically work without manually doing this?

[2016-04-25 20:17] #15 closed, assigned to nobody

[2016-04-25 20:23] mweststrate commented on #15
Fixed in 4.0.3. Tnx @andykog!

[2016-04-25 21:17] brownish commented on #15
Works now. Thanks!

[2016-05-05 14:24] maxs15 opened #17 "Server rendering"
Hi,

First of all awesome work on mobx guys, my code is getting some much cleaner ! :)
I'm having some issue with the server side rendering of mobx-react-devtools, it looks like the style properties aren't generated in the same order on the server/client.

Because of that I'm getting this issue:

[code]

Do you think it could be an issue related to radium ?
There is some weird properties in the st

[2016-05-05 14:41] andykog commented on #17
@maxs15, hi!
1. `npm list | grep mobx-react-devtools` in your project's folder gives version `4.0.5`?
2. What browser are you using?
3. Can you try passing undocumented prop `userAgent` when using server rendering like this:

[code]

(req here is express [Request](http://expressjs.com/en/api.html#req))

[2016-05-05 14:50] andykog commented on #17
4 . What version of nodejs are you using?

[2016-05-05 14:55] maxs15 commented on #17
1. Yes I'm using the last version (4.0.5)
2. I'm using chrome 50.0.2661.94
3. Just tried using the userAgent but didn't change anything
4. I'm using node 5.6.0

[2016-05-05 14:59] andykog commented on #17
Strange, could you please try https://github.com/mobxjs/mobx-react-devtools if the problem occurs there. (`npm install; npm start`)

[2016-05-05 14:59] andykog commented on #17
I'm sorry, I mean https://github.com/mobxjs/mobx-react-todomvc

[2016-05-05 15:05] maxs15 commented on #17
Good idea ! And apparently no issue there..
I'll try to investigate the differences I have on my project, will let you know if I find anything.
Thanks for the help Andy

[2016-05-10 13:42] #17 closed, assigned to nobody

[2016-05-16 00:38] tlvenn opened #18 "Ability to use devtools in React Native or other hybrid / desktop apps"
Hi,

Similarly to https://github.com/zalmoxisus/remote-redux-devtools, it would be awesome if the devtools could be used in other context than the browser such as React Native (my use case) or other hybrid / desktop apps.

[2016-05-30 13:12] mmazzarolo commented on #18
While waiting for it remember that you can can easily use `mobx.spy` to intercept and log actions (and all the other stuff too) since `2.2.0`.
For example [this might be better then nothing](https://gist.github.com/mmazzarolo/8d321f01f749d3470f0314e773114a95) I guess 🍂

[2016-05-31 01:05] tlvenn commented on #18
Good point, thanks for the gist @mmazzarolo !

[2016-05-31 09:51] mweststrate commented on #18
Any body interested in building one?
I think this is the core of the thing: https://github.com/mobxjs/mobx-react-devtools/blob/master/src/changeLogger.js. Not sure whether all debug utilities in the `mobx-react` package are already exposed on native, but that can be fixed easily :)

[2016-06-17 22:02] natew opened #21 "Allow control over buttons"
Rather than giving us a pre-styled output, could we have access to just the events for each button?

A step above that would be to provide a way to get each icon individually.

Final step above that would be to allow not having position fixed on the entire devtools.

Use case is that we don't want it fixed in our app but in a dropdown that we show, so any of the solutions would help.

[2016-06-28 13:53] giacomorebonato opened #22 "DevTools does not have any construct of call signatures"
Somebody knows what this error means?
I am using
"typescript": "^2.0.0-dev.20160628"
"tslint": "^3.12.0-dev.1"

<img width="741" alt="mobxdevtools" src="https://cloud.githubusercontent.com/assets/630796/16417530/31e8894e-3d3e-11e6-96fb-b1f227d2a7d5.png">

[2016-06-28 14:03] giacomorebonato commented on #22
Got it... I should import as default `import DevTools from 'mobx-react-devtools'`

[2016-06-28 14:03] #22 closed, assigned to nobody

[2016-07-04 03:34] osenvosem opened #23 "Warning: Unknown prop `_radiumDidResolveStyles` on <div> tag."
If I remove `<DevTools />` component there is no error.

![screen shot 2016-07-04 at 06 31 36](https://cloud.githubusercontent.com/assets/6762673/16550274/2676949e-41b1-11e6-876f-7b0d246d9d99.png)

[2016-07-04 08:33] jameswyse commented on #23
Seems this is a new warning in React v15.2.0, usually caused by forgetting to remove non-standard props before spreading them on a standard HTML element like `<div>`.

See related issue on Radium: https://github.com/FormidableLabs/radium/issues/759 and associated pull request: https://github.com/FormidableLabs/radium/pull/761

[2016-07-04 19:14] osenvosem commented on #23
@jameswyse ok, thanks.

[2016-07-05 21:05] corymsmith commented on #18
@mweststrate Been thinking about this myself a bunch, any tips on digging into this?

[2016-07-10 10:20] georgiik-welldone commented on #23
So please, publish new version with fixes from radium. Coz published version contains old version of code.

[2016-07-10 10:30] andykog commented on #23
@georgiik-welldone, what do you mean 'old version'? mobx-react-devtools requires the latest version of radium, 0.17.1 https://github.com/mobxjs/mobx-react-devtools/blob/master/package.json#L34

[2016-07-10 10:32] andykog commented on #23
I think, we can drop radium for styles. May be I'll do it today.

[2016-07-10 10:36] andykog commented on #21
Thats absolutely possible.

[2016-07-10 10:38] georgiik-welldone commented on #23
@andykog sorry my bad, new changes from radium haven't come up yet. Can we rely on radium's master branch?

[2016-07-10 10:43] andykog commented on #23
@georgiik-welldone, npm can't rely on any github branch if there is no precompiled lib provided. Moreover, I'm not sure this bug is already fixed in master.

[2016-07-10 14:44] #23 closed, assigned to andykog

[2016-07-10 15:09] andykog commented on #23
Dropped radium, the warning won't appear in the next version of `mobx-react-devtools`

[2016-07-10 18:15] andykog commented on #21
@natew, with my latest changes (not released yet) you can do it like this:

[code]

Any `*Control` must have only one child that takes props: `active` (bool), `onToggle` (func)

Is that what you needed?

[2016-07-10 18:17] natew commented on #21
That looks awesome, thanks

[2016-07-10 18:35] andykog commented on #21
Oh, and you will still need to include `<Devtool noPanel />` somewhere to display updates and modals

[2016-07-10 18:37] andykog commented on #21
@mweststrate, could you please review and release this as well as #23

[2016-07-11 10:04] mweststrate commented on #23
Released as 4.2.1

[2016-07-11 10:05] mweststrate commented on #21
@andykog reviewed and released as 4.2.1. Would you mind updating the README with these new changes? Thanks!

[2016-07-11 10:25] andykog commented on #21
@mweststrate, done https://github.com/mobxjs/mobx-react-devtools/commit/bdb7457ede10d0be77069a89662db7ebca05c844

[2016-07-14 00:29] mvestergaard opened #24 "Logging is not re-enabled on page refresh"
Even though the button is toggled in the DevTools bar, logging isn't actually re-enabled after the page refreshes. You need to toggle it off and back on again.

[2016-07-14 07:03] andykog commented on #24
Thanks for reporting, fixed in version 4.2.2

[2016-07-14 07:09] #24 closed, assigned to nobody

[2016-07-14 07:20] #21 closed, assigned to andykog

[2016-07-14 21:07] mweststrate commented on #18
@corymsmith basically you only need the `spy` api from `mobx`, and the `trackComponents` and `renderReporter` from the `mobx-react` package. You can directly reuse the logger functionality from `mobx-react-devtools` I think

[2016-07-15 18:39] mvestergaard opened #25 "Chrome console dark theme coloring"
This is a minor thing, but is there any chance the blue log color could be lightened a bit, it looks very harsh in Chrome's dark theme

<img width="766" alt="screen shot 2016-07-15 at 20 37 47" src="https://cloud.githubusercontent.com/assets/2027834/16884882/27d8c356-4acc-11e6-81e0-0db1c551c395.png">

[2016-07-15 18:40] mvestergaard commented on #25
Maybe use teal instead

[2016-07-15 18:42] mvestergaard commented on #25
Here's teal in both light and dark

<img width="398" alt="screen shot 2016-07-15 at 20 41 47" src="https://cloud.githubusercontent.com/assets/2027834/16884974/a56de724-4acc-11e6-9fbc-56d32b967f34.png">
<img width="248" alt="screen shot 2016-07-15 at 20 42 11" src="https://cloud.githubusercontent.com/assets/2027834/16884977/aa4722d8-4acc-11e6-85c6-f195a8c9b2b8.png">

[2016-07-15 18:51] mvestergaard commented on #25
Or maybe "dodgerblue" :)

<img width="276" alt="screen shot 2016-07-15 at 20 50 40" src="https://cloud.githubusercontent.com/assets/2027834/16885219/dca3fe9e-4acd-11e6-9e16-4ae746769d59.png">
<img width="266" alt="screen shot 2016-07-15 at 20 50 24" src="https://cloud.githubusercontent.com/assets/2027834/16885223/df309dca-4acd-11e6-9ff5-7681ba5ba50d.png">

[2016-07-15 20:57] andykog commented on #25
@mvestergaard, good idea, made green color a bit lighter as well.

[2016-07-15 21:04] andykog commented on #25
Published as `4.2.3`

[2016-07-15 21:04] #25 closed, assigned to nobody

[2016-07-22 02:36] mocheng commented on #18
I am not sure the timing feature is bound to MobX. It would be great to have this as a standalone React DevTools so that even Redux project can use it.

[2016-07-24 13:52] mweststrate commented on #18
@mocheng I think I saw a similar but general project in the past, it was published by Netflix I think. The current implementation doesn't use the internal react performance api, but keeps its own administratino.

[2016-07-24 13:53] mweststrate commented on #18
i'm no RN expert, but this might also work for RN? https://github.com/zalmoxisus/mobx-remotedev/

[2016-07-24 20:13] ncammarata opened #26 "Chrome extension"
Hi there - not sure if this is the right place for a feature request, but I think it would be great if this were a Chrome extension instead of / as well as a React component. Thoughts?

[2016-07-27 22:39] jennifer-shehane opened #27 "Programmatically set default state of graph, logs, & updates on render"
I would like a way to automatically set the state of the dev tools on render. Something like:

[code]

I basically always want the logs to be on when I'm in my dev environment. This wouldn't normally be a big problem (you just click the button and be done with it), but my app is rendering inside of an iframe inside another application which makes a page refresh clear the active state of the mobx-r

[2016-07-27 22:48] jennifer-shehane commented on #27
This is the workaround I've written for now to have the logs and updates always enabled.

[code]

[2016-07-30 19:44] andykog commented on #27
@jennifer-mann, you can now do it like this:

[code]

Published as mobx-react-devtools@4.2.4

[2016-07-30 19:47] andykog commented on #27
I'm planning to get rid of necessity to include `<DevTools noPanel />` and just render modals and highlighted components into document.body

[2016-07-30 19:48] #27 closed, assigned to nobody

[2016-08-01 16:43] jennifer-shehane commented on #27
thanks 👍

[2016-08-02 17:52] dassidas opened #28 "Cannot read property 'renderReporter' of undefined"
Hiya,

I'm receiving the following error when I import and use the Devtools component in my React app:

[code]

The devtools themselves don't actually work, but the toolbar is visible. In addition, all of my app functionality - routing via react-router, form -> get request, etc. - is now causing a page reload where before it wouldn't.

My app is built on top of webpack@2.1.0-beta.20. Not sure if t

[2016-08-02 17:54] andykog commented on #28
@alexjhannan, please update mobx-react: https://github.com/mobxjs/mobx-react/issues/96

[2016-08-02 17:59] dassidas commented on #28
Perfect! Thanks for your help.

[2016-08-02 17:59] #28 closed, assigned to nobody

[2016-08-04 17:16] dsifford opened #29 "PreventDefault for devtool button events"
Hi there.

Thanks for your work on this. Super useful.

One issue I'm running into is that, where I'm using the devtool, clicking any button causes the page to reload. Is `preventDefault` set on the click event for those buttons? If not, could it be?

[2016-08-08 10:56] lostpebble commented on #26
I second this request. The Chrome extension for redux is great, and it allows me to isolate the tools in a separate window which is very useful for screen space management.

EDIT: Another reason this helps is for isolating the devtools from the build, so we don't have to do any checks to exclude them from production vs development

[2016-08-08 11:05] andykog commented on #26
I'm planning to give this a try a bit later. If anybody else wants to help with this,  pr is welcome.

@ncammarata, @lostpebble, @mweststrate what kind of extension, you think, will fit mobx?
- The one with own devtools panel (like react devtools) that shows logs and dependencies?
- The button right to adress bar that opens menu containing 3 checkboxes: «Show updates», «Enable logging», «Explore d

[2016-08-08 15:49] lostpebble commented on #26
I prefer the option to "open in separate panel" much like the Redux tools so as to resize / move it around where I like. The first option sounds pretty much the same as it is now, but just with the buttons built into the browser instead of on the page, so I don't see it as much of a value add to warrant the extra work.

I've never tried working with Chrome extensions before, but it could be a fun

[2016-08-11 20:20] mweststrate commented on #26
@andykog @lostpebble I think separate panels indeed offer the most added value. Although the buttons alone already have significant value in themselves: be able to turn the devtools on in a production environment for example, detect MobX presence on any page. To start small, I personally would go for that option first and then expand :)

[2016-08-11 20:36] andykog commented on #29
@dsifford, that happens when you click devtool panel button, or picking observable component in «inspect dependencies» mode?
1. is totally unbelievable, as those buttons are quite ordinary react components with onClick props https://github.com/mobxjs/mobx-react-devtools/blob/master/src/Panel/PanelButton.jsx#L49
2. shouldn't happen because capturing is being used https://github.com/mobxjs/mobx-reac

[2016-08-11 20:45] dsifford commented on #29
Haha, it's number 1!

The disbelief is completely understandable. I'm not even sure it's an issue with mobx-react-devtools proper.

I'm using the devtools for a react project that I'm working on inside a wordpress plugin and wordpress freaks out and reloads the post editor whenever I click one of the buttons.

I've gotten around this by just adding a global click event listener that runs `preventD

[2016-08-11 20:56] andykog commented on #29
@dsifford Hmm, I can imagine wordpress reloads after click on any button, just to make people suffer. Could you try placing `<button>test</button>` just after `<DevTool />` component? Does it also leads to page reload? By the way, is it possible, that your DevTool panel is somehow placed inside `<form></form>` html element?

[2016-08-11 21:01] andykog commented on #29
If the answer to the last question is yes, this commit should fix this https://github.com/mobxjs/mobx-react-devtools/commit/b673df5b53a225812919d2625c105add6b0b26f4 (mistyped issue number)

[2016-08-11 21:06] dsifford commented on #29
Yep, without even looking, that must be the case. The component is rendered within a metabox, which itself is completely wrapped in a form element.

Nice catch! I hadn't even thought of that. Thanks for the help 😄

[2016-08-11 21:07] dsifford commented on #29
Let me test part 1 of your question here real quick... Give me just a sec.

[2016-08-11 21:08] andykog commented on #29
@dsifford, no need, it will reload page without `type="button"` :-)

[2016-08-11 21:11] dsifford commented on #29
@andykog Ok cool, thanks for the quick fix!

![not worthy](http://i.giphy.com/iiS84hOJXh1Pq.gif)

[2016-08-11 22:33] lostpebble commented on #26
@mweststrate agreed. That would already be a great addition, as for now I need to separate the DevTools component out of my production builds and I don't like having to create separate entry points for my app. This would be a good place to start.

[2016-08-17 13:20] winterbe opened #30 "Logged event types should be configurable"
Hi,

it would be very handy if we could configure which particular event types gets logged. Currently every event gets logged by the spy listener which often results in huge amounts of console logs.

In most cases I would just like to see `action` logs per default and then enable more logs (e.g. `reactions`) on demand. This would be particular useful for ReactNative where you cannot rely on other

[2016-08-24 14:18] andykog opened #31 "Optimize logger output for firefox"
Eyes are bleeding:
![screen shot 2016-08-24 at 17 17 32](https://cloud.githubusercontent.com/assets/6760207/17933954/ba2e0ed4-6a1e-11e6-8797-7a28c145cdc9.png)

[2016-08-24 16:42] andykog commented on #30
@winterbe made a pr #32, it allows filtering top-level messages (not inside groups) like this:

[code]

What do you think? We don't need filtering inside console.group, right?

[2016-08-24 16:47] andykog opened #33 "Don't require rendering <DevTool nopanel /> component"
Even if controlling devtools programmatically, It has to be rendered somewhere to show modals and draw selected/updated component frames.

[2016-08-25 07:58] Strate commented on #30
Also it would be useful to skip logging of state modifications, if them happens too often inside one action (for example, if action triggers more than 20 state modifications, stop logging them and only count, print count after action finished).

[2016-08-25 08:31] winterbe commented on #30
@andykog Looks good to me. 👍  Top level filtering is enough for me. I primarily want to filter by `event.type`, e.g. show only actions, reactions and computations.

Currently I use [mobx-logger](https://github.com/winterbe/mobx-logger) (authored by me) but I'm happy to drop it if DevTools serve my needs.

Sometimes it would also be useful to further filter out some reactions, because if you use `@

[2016-08-25 11:37] mweststrate commented on #30
looks useful indeed! it is currently not possible to get the component via the spy event in a reliable way indeed, although some cross referencing with the `mobx-react` render events (used for the highlight and such) used by the devtools might be possible (it is possible to obtain the reaction belonging to an observer component via `instance.render.$mobx`)

[2016-08-25 11:39] mweststrate commented on #29
@andykog this fix is not released yet if I am correctly? feel free to do so :)

[2016-08-25 12:27] andykog commented on #30
Published as `v4.2.5`

[2016-08-25 12:27] andykog commented on #29
Published as `v4.2.5`

[2016-08-25 12:27] #29 closed, assigned to nobody

[2016-08-31 02:34] bjrnt opened #34 "Console statements in `componentWillReact` do not work if devtools logging is enabled"
A `componentWillReact` function such as

[code]

will not do anything if the devtools logging is enabled. Instead, messages such as

[code]

will be printed.

After disabling the devtools logging, `Reacting!` is printed as expected.

This caused a bit of confusion for us, as it seemed like `componentWillReact` was not being called properly. Is this a bug or intended?

[2016-08-31 05:34] mweststrate commented on #34
@bjrnt the messages should be printed, but inside the console group that is running at the moment of logging and not necessarily at the top level

[2016-08-31 05:49] bjrnt commented on #34
@mweststrate Ah, indeed they are. Thank you!

I think this behavior is still different from what one would expect, though. It seems like log group messages give a summary of what happened, e.g. `updated 'MyComponent@2.value': 12 (was: 1)`, which then can be expanded to see more details about the event. Including information within the log group which is not present in the summary makes the log gro

[2016-08-31 08:01] #34 closed, assigned to nobody

[2016-08-31 08:01] mweststrate commented on #34
Added some documentation for this. Thanks for reporting

[2016-09-04 04:17] timothyallan commented on #31
Hahah came here to whine about Microsoft Edge doing the same.
![screen shot 2016-09-03 at 10 16 24 pm](https://cloud.githubusercontent.com/assets/1995135/18229009/2021b6d4-7224-11e6-88df-cbc9088b2320.png)

[2016-09-07 08:26] dylanparry opened #35 "EventEmitter memory leak"
Hi,

I’m getting the following error when I attempt to test a component that contains the Mobx React Devtools component as a child:

[code]

I’m attempting to mount the parent component using Enzyme's `mount` function. Is there a way of either fixing this so the error goes away, or telling the Dev Tools not to render during tests so it becomes a non-issue?

Thanks :)

[2016-09-07 09:31] andykog commented on #35
Released fix as `mobx-react-devtools@4.2.6`
@dylanparry, could you confirm fix?

[2016-09-07 09:33] dylanparry commented on #35
Thanks for the quick response. The error has now gone, so looks like it worked.

[2016-09-07 09:35] #35 closed, assigned to nobody

[2016-09-09 00:36] dcworldwide opened #36 "Typescript Error TS2305"
Hi,

I'm using

[code]

in a typescript 2@beta and rc project. TSC complains that

error TS2305: Module 'mobx-react-devtools/index"' has no exported member 'configureDevtool'.

If I update the index.d.ts file, the following works:

[code]

[2016-09-13 12:21] maxdeviant opened #38 "Support dependency trees for higher-order components"
It would be very useful (and necessary, in my opinion) to support being able to view the dependency trees for higher-order components.

Currently, if you select a component wrapped with higher-order components in the dependency tree viewer, it will only show you the top-most higher-order component. This is usually not very helpful, as the most important dependency tree is usually in the base compo

[2016-09-13 16:44] mweststrate commented on #38
A simpler solution might be to show the trees in the same overview, with a new root node. Would you be interested to take a shot at it?

[2016-09-13 16:46] maxdeviant commented on #38
Sure, I can take a look at it. Was poking around in the code a bit this morning, and it seemed fairly straightforward.

[2016-09-16 22:45] dsifford opened #39 "[Question] - Clarification on log terminology for actions"
Hi there,

Quick question for ya. This is probably going to be super obvious once you answer, but I just can't seem to figure out what the `@xxx` after some actions is supposed to mean (see image below)

Can you clarify? I'd imagine this to be line number, but they don't match up (at least not in the source maps).

Thanks in advance.

![image](https://cloud.githubusercontent.com/assets/5240018/186

[2016-09-26 19:00] mweststrate commented on #39
@dsifford it is the instance number, basically a linear increasing to allow distinguish different instances of the same type.

[2016-09-26 20:29] dsifford commented on #39
Ah, I see!

So, to be clear, in the screenshot I posted earlier, `ReferenceList@10` was a single action instance composed of the three sub-actions (`toggleMenu`, `reset`, and `clearSelection`)?

Correct me if I'm wrong. Otherwise, thanks so much for the clarification and your work on this. 👍

[2016-09-26 20:29] #39 closed, assigned to nobody

[2016-10-04 19:57] mohsen1 opened #40 "Do nothing if NODE_ENV === 'production'"
Currently we have to check for `NODE_ENV` to include/not include the component. Shouldn't this component render `null` if `NODE_ENV` is production?

[2016-10-07 07:58] Mikk36 opened #41 "hightlightTimeout doesn't seem to be passed on to Panel"
With testing and looking at the code (src/DevTool.js) it doesn't seem like the this.props.hightlightTimeout is ever passed on to Panel component.
Not to mention that it has a typo in it.

[2016-10-08 13:21] andykog commented on #41
@Mikk36, thanks for noticing, fixed in `mobx-react-devtools@4.2.7`

[2016-10-08 13:22] #41 closed, assigned to nobody

[2016-10-08 13:45] andykog commented on #40
@mohsen1, checking for NODE_ENV by yourself is good way to go, you can make conditional import:

[code]

then, assuming that you provided `MY_ENV_VAR` with `webpack.ProvidePlugin` and using `uglifyjs`, the whole module will be skipped so there is no superfluous code in production bundle. I don't think the same result is possible to achieve by checking NODE_ENV in `mobx-react-devtool` packgage as i

[2016-10-08 14:05] andykog commented on #36
Fixed in `mobx-react-devtools@4.2.8`

[2016-10-08 14:05] #36 closed, assigned to nobody

[2016-10-08 15:49] Mikk36 commented on #41
You should also update the readme to reflect the fixed prop name.

[2016-10-08 15:53] andykog commented on #41
Oh, you are right

[2016-10-10 07:05] panjiesw opened #43 "publish fixed ts definition"
Hi,
I'm sorry to bring this up here.

Since #42 is merged, would you publish a new version to npm? We heavily use typescript with strict null check and this prevent successful build without manually hack into installed mobx-react-devtools in node_modules.

Thanks

[2016-10-10 14:20] Haemoglobin opened #44 "Parameter 'any' implicitly has an 'any' type"
An error in the typings when noImplicitAny is turned on:
node_modules/mobx-react-devtools/index.d.ts(25,18): error TS7006: Parameter 'any' implicitly has an 'any' type.

[2016-10-10 14:37] andykog commented on #44
Sorry, fixed in `mobx-react-devtools@4.2.9`

[2016-10-10 14:37] #44 closed, assigned to nobody

[2016-10-10 14:37] andykog commented on #43
Published as `mobx-react-devtools@4.2.9`

[2016-10-10 14:37] #43 closed, assigned to nobody

[2016-10-10 14:39] panjiesw commented on #43
Thanks @andykog much appreciated

[2016-11-15 01:33] gkaemmer opened #48 "Restore settings from localStorage on componentWillMount"
I'm running into a problem where the mobx DevTools miss some actions that run synchronously with the page load (its an authentication check that gets run by a react-router `onEnter` callback).

I dug a little deeper and found that it's caused by running the `restoreLogFromLocalstorage` in `componentDidMount` in `LogControl` here:

Would it break things to run it in `componentWillMount`, which (I t

[2016-12-08 02:21] ghost opened #49 "Couldn't find preset 'es2015' relative to directory "node_modules\mobx-react-devtools""
Hi,

I did the following:

react-native init projectname
cd projectname
npm install --save-dev rnpm-plugin-windows
react-native windows

npm install mobx --save
npm install mobx-react --save
npm install --save-dev mobx-react-devtools

Opened up index.windows.js

Added to the top of file
import DevTools from 'mobx-react-devtools';

Added inside the <View> Component
<DevTools />

Ran react-native ru

[2016-12-08 07:13] mweststrate commented on #49
the devtools only support react in browser environments. mobx-logger should
work for RN as well though

Op do 8 dec. 2016 03:21 schreef kwancherie <notifications@github.com>:

[2016-12-08 18:11] ghost commented on #49
Thanks!

[2016-12-08 18:11] #49 closed, assigned to nobody

[2017-01-02 19:04] andykog commented on #26
@mweststrate, @ncammarata, @lostpebble, @fusepilot, @RobVermeer, @gabrielbull, @exwar, @evisong, @leader22, @ksmithut, @CNBorn,
check this out, need your feedback

[2017-01-02 19:04] andykog commented on #26
#50

[2017-01-02 20:40] andykog commented on #40
Closing for inactivity, feel free to reopen

[2017-01-02 20:40] #40 closed, assigned to nobody

[2017-01-11 23:19] AoDev opened #51 "[Feature] Props inspection / proposal"
Hi, I don't know what's the status of this project. Is there some roadmap / future?

I don't fully understand the intention / ambition of this tool so in the meantime I've been "playing" around to get to display the props from the components.

Here is a video of how it looks like for now: [Screencast on youtube](https://www.youtube.com/watch?v=1tIG8fwA2aE)
Quite useful for a quick inspection inste

[2017-01-11 23:34] andykog commented on #51
@AoDev, nice work! Though you've got kind of react-devtools-light, I'm not sure this fits mobx-react-devtools purpose as I understand it: inspecting mobx-related part, not react itself.

[2017-01-12 09:24] AoDev commented on #51
Right now I only check if a function is a mobx action for example. But it's just a starting point to get feedback. I did  it because I find it convenient and saw in the readme that the only thing left is "Visualize observer tree values"

[2017-01-13 03:47] mromanoff opened #52 "DevTools position on page"
How I can position DevTools in other view port location opposed to a right-top corner? for example DevTools container blocking navigation in my app. I wish I could set props on DevTools component for example: <DevTools className="Position-bottomRight" style={{bottom: '10px', right: '10px'}} />

[2017-01-17 16:23] AoDev commented on #52
You can pass a `position` prop. It's in the readme.

Or you can see the code: [Panel position](https://github.com/mobxjs/mobx-react-devtools/blob/master/src/Panel/index.jsx#L29)

[2017-01-19 17:06] KaySackey commented on #40
If you're using it via Webpack 2, uglify will operate on everything including files that come out of node_modules. I know that it strips down React.

[2017-01-19 17:19] mohsen1 commented on #40
@KaySackey Webpack does not exclude packages from node_modules by default. You have to use `externals` option: https://webpack.js.org/configuration/externals/

[2017-01-19 17:33] KaySackey commented on #40
I know. I'm commenting because @andykog questioned if Uglify would work on items that are pre-compiled into a single file. The answer seems to be "yes".

[2017-01-19 21:56] andykog commented on #40
@KaySackey, the original proposition was to simply return null in prod environment. uglify.js (as well as webpack 2 with its tree-shaking) won't prevent including superfluous code even if we wrap the content of entry point file in `if (process.env.NODE_ENV !== 'production') {}` (see example below). We have to wrap the whole bundle, generated by weback in this `if() {}` to make it work. Then we hav

[2017-01-20 02:17] KaySackey commented on #40
Breaking it down, I got it to work with a one line import

[code]

In webpack, I add the DefinePlugin to force process.env.NODE_ENV into a constant value of 'production'

[code]

This means that Uglify sees the equivalent of:

[code]

Then evaluates it to drop the value that will never be used---which is the entire import and assignment statement given pushed out by Webpack after it converts requi

[2017-01-23 00:39] andykog commented on #51
@AoDev, I think «Visualize observer tree values» means showing values of the observables listed in the dependency tree, not react components props.

[2017-01-23 00:42] andykog commented on #52
`<DevTools style={...} />` might be a good alternative for current `<DevTools position={...} />`

[2017-01-31 08:40] bernex opened #53 "I see green borders but console.log only shows computed"
I see all borders around all components are green?

But added only one element. List and Added item is rendered. All computed.

Why all green? Not two elements?

Also React devtools - show blue borders.

[2017-01-31 12:14] mweststrate commented on #53
It means that all your components are rerendered. But please provide some more details, like a reproduction, or clear screenshots and code etc. This is not enough information to be able to formulate an answer.

[2017-02-06 10:07] plusmancn commented on #18
+1

[2017-02-23 13:47] robstown opened #55 "Feature Request: Tabular Data"
I currently have a project that can render tens of thousands of elements.  I use observable objects with sideways loading to render items very fast, however, changes that affect all the elements can take 2-4 seconds (unacceptable for UI purposes).  I have a lot of options to optimize, but knowing what is taking the most time would help to peel the onion. I can use chrome devtools to show that most

[2017-02-24 19:47] iotch opened #56 "Include store name with action name in console log"
Hello!
Is it possible to have the store name included when logging action? Something like `action 'MyStore.myAction'` instead of `action 'myAction'`? I'm aware of custom action names for debugging but will be great to have this automatically somehow. I'm not sure it is possible though...
Thanks!

[2017-02-27 12:12] ghost opened #57 "is there any way to console log all state in mobx?"
because the state in mobx is separated in many class. sometimes i need to log all state in separate class. is there any way?

[2017-02-27 12:19] andykog commented on #57
@Tomatoo, no, mobx doesn't store everything somewhere. Good practice is to make your own single object that holds the whole tree of your classes' instances.

[2017-03-01 11:38] #57 closed, assigned to nobody

[2017-03-01 11:38] #53 closed, assigned to nobody

[2017-03-07 08:15] mromanoff commented on #52
'position' prop will do work for me just fine.

[2017-03-07 08:15] #52 closed, assigned to nobody

[2017-03-23 00:46] MocanuMarius opened #58 "Create blank component for production"
Hi , when using React you'd like the component to simply not be imported or to render a blank return null when it runs in a production environement e.g. NODE_ENV = "production" . It's very cumbersome to render it conditionally, and even harder inside a react component.

Do you want me to do a PR on this ?

[2017-03-30 05:27] suprise commented on #58
Hi，@MocanuMarius  ，may be you can try this [simple method](https://github.com/mobxjs/mobx-react-devtools/issues/40) or try [chrome extension](https://github.com/mobxjs/mobx-react-devtools/pull/50)

[2017-03-30 07:43] andykog commented on #58
@MocanuMarius, the poblem is that if devTools simply implement this check inside it's component's render(), we may end up people loading all the code in production (that will increase production bundle size). If you have an idea on how to deal with that — feel free to PR :-)

[2017-04-20 16:07] yonatanmn opened #59 "Accessing PropTypes via the main React package is deprecated"
using :
react-scripts@0.9.5
react@15.5.4
mobx-react-devtools@4.2.11

running npm test - it fails, added trace to fbjs warning, it points at this repo,

[code]

[2017-04-20 16:14] OscarBarrett commented on #59
[The fix is in master](https://github.com/mobxjs/mobx-react-devtools/commit/198f753ea2bd9098a3dc044233facb53fdbf81a0), just waiting on release.

[2017-04-20 16:17] yonatanmn commented on #59
thx. cool. keeping this open till release?

[2017-04-25 19:15] janaagaard75 opened #60 "Styling doesn't support bottom placement"
This is pretty minor.

I prefer placing the devtools panel at the bottom right of the browser window, because I find that it can get in the way of the web app behind it, when the panel is in the top right corner. It's easy to position the panel by defining `bottom` and `right`, but the result in top notch, because the panel doesn't have a border and rounded corners at the top of it.

[code]

One s

[2017-04-25 20:09] natew opened #61 "Use mobx-formatters"
See:

https://github.com/motion/mobx-formatters

[2017-05-13 13:43] le0nik opened #62 "Move 'prop-types' to peerDependencies"
Right now using `mobx-react-devtools` triggers a warning in console:

`Warning: Failed prop type: Calling PropTypes validators directly is not supported by the `prop-types` package. Use PropTypes.checkPropTypes() to call them. Read more at http://fb.me/use-check-prop-types`

It's due to a bug in `prop-types`<15.5.10 which was fixed in this commit https://github.com/facebook/prop-types/commit/11824

[2017-05-14 17:48] bernex commented on #62
`Warning: Failed prop type: Calling PropTypes validators directly is not supported by the `prop-types` package. Use PropTypes.checkPropTypes() to call them.`

same error with last version....

[2017-05-14 18:31] andykog commented on #62
I don't like adding another peerDependency for this plus It's not the recommended way: https://github.com/facebook/prop-types#how-to-depend-on-this-package (see also https://github.com/facebook/prop-types/issues/4)
So I've simply updated prop-types and removed definition of NODE_ENV (it was shipped with NODE_ENV=production)
Released as 4.2.13
@le0nik, @bernex, could you confirm that the warning is

[2017-05-14 19:07] andykog commented on #61
@natew, nice stuff! You feel like it should be included in mobx-react-devtools?

[2017-05-14 19:26] le0nik commented on #62
@andykog can confirm that it's fixed in 4.2.13

[2017-05-14 19:26] #62 closed, assigned to nobody

[2017-05-15 17:11] bernex commented on #62
@andykog confirmed!

[2017-06-11 17:56] egorovli opened #64 "Uncaught TypeError: Cannot read property 'spy' of undefined"
Cannot enable extended logging, Chrome version 58.0.3029.110 (64-bit), full error:

[code]

[2017-06-12 00:16] thiagodebastos commented on #64
I'm getting the same issue:

[code]

Chrome Version 61.0.3127.0 (Official Build) canary (64-bit)
react 16.0.0-alpha.3 (also tried ^15)
react-dom 16.0.0-alpha.3 (also tried ^15)

[2017-06-12 05:11] xx7y7xx commented on #64
This demo (https://github.com/mobxjs/mobx-react-todomvc) has the same error:

[code]

[2017-06-12 06:29] andykog commented on #64
The error happens because of empty object here https://github.com/mobxjs/mobx/blob/0cfe4a7/src/mobx.ts#L116
I've updated the extension not to throw it that case (will process about an hour), but it won't work until https://github.com/mobxjs/mobx/pull/1041 is released. mobx@3.1.11 should work fine for now.
cc @rossipedia, @mweststrate

[2017-06-12 07:39] egorovli commented on #64
@andykog thanks, downgraded mobx to 3.1.11, it works.

[2017-06-12 07:54] mweststrate commented on #64
Released in 3.1.15

Op ma 12 jun. 2017 om 09:39 schreef Anton Egorov <notifications@github.com>:

[2017-06-12 14:02] rossipedia commented on #64
More module fun! 😒

[2017-06-15 16:42] p-adams commented on #64
Is `mobx-react-devtools` not working with the current version of mobx? I am trying to use it but it crashes my app due to the devtools containing undefined variables. Not too sure what the error is.

[2017-06-19 10:31] mweststrate commented on #64
Upgrading to mobx 3.1.16 should fix the issue

[2017-06-23 12:18] alexilyaev commented on #27
@andykog I don't see `graphEnabled` documented in README, can you add a short line about it?

There's `setGraphEnabled()`, but it's not clear from that what it does.

[2017-06-23 12:20] andykog commented on #27
@alexilyaev, enables the second button on the panel, kind of useless.

[2017-07-15 17:36] olieidel commented on #18
@mweststrate, I can confirm that [mobx-remotedev][mobx_remotedev] works with React Native via [react-native-debugger][react_native_debugger]. Just decorate the stores with `@remotedev`, turn Remote Debugging on in the App and you're good to go. The updates appear in the Redux Devtools section of the debugger.

[mobx_remotedev]: https://github.com/zalmoxisus/mobx-remotedev/
[react_native_debugger]:

[2017-07-16 11:02] hyperknot opened #66 "Production mode"
How do you disable / not include this module in production setup? I tried to look it up in the docs but I couldn't find anything.

I'm using an ejected create-react-app, so it automatically adds:
[code]
in the build script. Is there any way to conditionally load mobx-devtools based on these variables for example?

[2017-07-16 11:13] hyperknot commented on #66
Redux-devtools has a section in it's docs, is it the recommended method for this module as well?
https://github.com/gaearon/redux-devtools/blob/master/docs/Walkthrough.md#exclude-devtools-from-production-builds

[2017-07-16 11:43] hyperknot commented on #66
Actually, create-react-app already includes DefinePlugin by default, so making a conditional import is as simple as
[code]

[2017-08-29 15:49] will-stone opened #68 "Is it possible to collapse the "stack" log by default?"
When I open actions and reactions in the console, I find I'm forever closing the stack log. Is it possible to set this to default to collapsed? Or can this please be added as a feature request?

[2017-09-06 11:08] alexlevy0 opened #69 "Use devtools in React Native with Mobx State Tree"
Hello,

I'm trying to use mobx-remotedev with React Native and MobX-State-Tree but I don't know how to do.
I tried with ```export default remotedev(AppStore, { global: true, remote: true })``` in my rootStore but I get an error ```Unhandled JS Exception: Cannot read property 'create' of undefined``` cause I create the tree with ```const appStore = AppStore.create({ users: {} }, { logger: logger })

[2017-09-06 17:56] mweststrate commented on #69
Note that this isn't the `mobx-remotedev` package ;-). Which can be found here: https://github.com/zalmoxisus/mobx-remotedev

The mobx-react-devtools (this repo) are specifically geared to DOM rendering (unlike remote dev), and offers fancy in-DOM visualization of updates.

Note that it is even possible to use generic Redux based devtools like demonstrated here: https://github.com/mobxjs/mobx-stat

[2017-09-21 04:16] ethanyanjiali commented on #18
for those use singleton stores, you need to:
`export default remotedev({ name: 'Store Name' })(new Store());`

[2017-10-05 17:32] nodece opened #74 "Strange Popup"
when id is 2 ，I don't know why this window appears。
Click Add button， id will Increment。
I want know This is my Program Problem or Friendly Debug Tool Problem。
![image](https://user-images.githubusercontent.com/16235121/31241109-767dbd62-aa35-11e7-8beb-47489854d098.png)

part of the code
[code]

[2017-10-05 17:56] andykog commented on #74
@nodece, `setGraphEnabled(true)` starts picking a component for dependencies inspector. Just remove that line.

[2017-10-06 23:57] moos commented on #66
Typo above: `<DevTool`**s** `  />`

[2017-10-07 14:25] #74 closed, assigned to nobody

[2017-10-25 17:13] alexhtech commented on #66
I think you need to import the component of DevTools from node_module if NODE_ENV is development only. Something like this...

[code]

It will exclude mobx devtools from production build

[2017-10-25 17:24] hyperknot commented on #66
Afaik you cannot do this with ES6 imports, can you?

On 2017. Oct 25., Wed at 19:13, Alexey Olefirenko <notifications@github.com>
wrote:

[2017-10-26 03:36] moos commented on #66
I believe that's correct -- `import`s must be before any other statements.  But `require` fills the gap nicely.

[2017-10-26 18:42] darkdark87 opened #75 "App works, but DevTools gives error "TypeError: this.todos is undefined""
The setup is simple. React with MobX and TypeScript along with MobX DevTools. The app is pretty much a copy paste of the 10 min todo introduction of MobX. The app works, but once I try to inspect the content of my store with DevTools I receive an error:

![image](https://user-images.githubusercontent.com/765468/32070856-dd3677fc-ba8d-11e7-942d-0ed3d73c070a.png)

The code for the store is as follow

[2017-10-26 20:51] alexhtech commented on #66
This is just for example. You can implement this feature exactly like you want :) up to you.

[2017-10-29 14:27] #69 closed, assigned to nobody

[2017-11-18 23:25] carlosagsmendes opened #76 ""#undefined" when logging to the console or visualizing the tree of components"
Hi there,

I've installed the devtools but I'm getting `#undefined` entries both on the console or when visualizing the tree of components:

<img width="835" alt="mobx-devtools" src="https://user-images.githubusercontent.com/1224078/32985630-380a8d72-ccb7-11e7-9f65-48dff2360859.png">

<img width="323" alt="mobx-inspect" src="https://user-images.githubusercontent.com/1224078/32985658-afc88954-ccb7-

[2018-01-03 09:01] tonycaputome commented on #75
I have the same problem everytime when I try to inspect the store.

[2018-01-03 09:21] tonycaputome commented on #75
I solved the issue, my problem was using utility functions of an observable array ( toJS, slice() ...) in a computed property

[code]

[2018-01-05 03:57] wang12124468 opened #77 "It's too difficult to find error in 'action'"
if a error is in 'action'， I must open the ‘action’ in 'console' to see the error。

[2018-01-19 14:32] aap82 opened #80 "Uncaught TypeError: e.node.getBoundingClientRect is not a function"
With displayUpdates enabled, and using a component like:

`ObjPropDisplayer = observer ({ obj, prop }) => obj?[prop] or null`

throws the above mentioned error because, well, it's not a DOM node, but still is a valid React (observer) component.

[2018-01-21 07:22] gilesbutler commented on #66
Hey @alexolefirenko, using your code I get the following error...

```Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: object.```

Any ideas?

[2018-01-21 15:42] aap82 commented on #66
@gilesbutler  use  `const DevTools = require('mobx-react-devtools').default`

[2018-01-22 02:24] gilesbutler commented on #66
Thanks @aap82 that fixed it, unfortunately the devtools are still appearing in my build though hmm

[2018-01-23 00:07] flakmonkey commented on #76
I believe this is because React has deprecated the `_rootNodeID` property on `_reactInternalInstance`. `mobx-react` attempts to capture this value in `index.module.js:686`.

[2018-01-31 13:44] oleeeg commented on #66
I guess for now the only way to get the 'mobx-react-devtools' module out of the production build would be Code splitting. Something like:
[code]

Please correct me if I'm wrong.

[2018-01-31 16:16] alexhtech commented on #66
@gilesbutler I don't know why it is still appearing in your build, but for me this lines works properly

[code]

Just I'm using reduxdevtools for my project, but I think it doesn't matter

[2018-01-31 17:04] alexhtech commented on #66
@gilesbutler,  @oleeeg
I have tested for me and add DevTools for current project and I see that DevTools doesn't appear in my production build

[code]

Have you probably imported this package in another place ? And it doesn't work for you...

[2018-01-31 17:05] alexhtech commented on #66
also you make sure that process.env.NODE_ENV === 'production' while you build production package

[2018-02-06 03:06] coder9s opened #81 "'Devtools' is not defined react/jsx-no-undef"

[2018-02-10 17:10] carlosagsmendes opened #82 "[Discussion] Mobx Devtools vs React Devtools inconsistent highlighted updates"
Hi,

I'm getting inconsistent results when using the highlight updates feature of Mobx React Devtools and React Devtools.

Using **Mobx-React-Devtools** the Mobx components are only highlighted twice (when they render the first time and after being updated when I click the _update_ button:

<img width="742" alt="mobx-devtools-1" src="https://user-images.githubusercontent.com/1224078/36064473-6963c

[2018-02-12 21:07] moos commented on #66
@gilesbutler I noticed DevTools creeping into my prod build as well.  Turns out you can't dereference the key expression -- it must be in-place.
[code]
will still include it in the build, but:
[code]
will not.  Mystery solved!

[2018-02-13 05:00] gilesbutler commented on #66
Awesome! Only just got back to this so really appreciate your help @alexolefirenko and @moos!! Thank you.

Your solutions worked, I ended up getting an error from Flow afterwords though as it was looking for a React element. So I went with this solution in the end...
[code]

Then I can just use `<Devtools />` in my render method.

[2018-02-18 19:14] hyperknot commented on #66
@gilesbutler thanks for your super clean solution! I've checked and it is indeed not included in the production bundle this way! I believe your solution should be in the readme actually!

[2018-03-11 14:45] jraoult opened #83 "Add support for Webpack 4 tree shaking / dead code elimination"
I'm using a Webpack 4.

The combination of tree shaking and dead code elimination would make this snippet generate a bundle where `mobx-react-devtools` is not included in production mode.
[code]

It is not the case right now since `mobx-react-devtools` is not declared side effects free.

I managed to work around it using a module rule:
[code]

Ideally `mobx-react-devtools` would declare that it is

[2018-03-12 19:10] richtera opened #84 "I am getting an error after upgrading to latest mobx"
https://github.com/mobxjs/mobx-react-devtools/blob/1f8a998114cd5c7c1a92bdcb4580ce1e975ac7e3/src/consoleLogChange.js#L240

Is this pending to be fixed or is there a specific option I need to configure mobx with to expose the debug names?
Thanks
Andy

[2018-03-13 12:46] nitelite commented on #84
Is there a version of the dev tools in the works, compatible with MobX 4?

[2018-03-17 01:56] tsiq-swyx opened #86 "[mobx] 'extras' is no longer part of the public MobX api."
hi team!

I have an issue.

Here is my error messages:

[code]

![image](https://user-images.githubusercontent.com/35976578/37550320-9ad01bd2-2961-11e8-8891-fea85380b2b0.png)

Here is the codesandbox:  https://codesandbox.io/s/20lv7n3kvn just try to submit text in any box to see the error

what i'm trying to do here is to `decorate` my `onSubmit` with an `action` or `action.bound`. i expected
it t

[2018-03-18 04:44] jacklinton commented on #84
No response on this yet? Hopefully it's because they're hard at work updating the library...

[2018-03-18 08:28] mweststrate commented on #84
Don't worry, it's being worked on

Op zo 18 mrt. 2018 05:44 schreef Jack Linton <notifications@github.com>:

[2018-03-18 18:31] andykog commented on #86
Published `mobx-react-devtools@5.0.0` compatible with `mobx@4`

[2018-03-18 18:31] #86 closed, assigned to nobody

[2018-03-18 18:32] andykog commented on #84
Published `mobx-react-devtools@5.0.0` compatible with `mobx@4`

[2018-03-18 18:32] #84 closed, assigned to nobody

[2018-03-18 20:08] tsiq-swyx commented on #86
whoo! thank you!

On Sun, Mar 18, 2018 at 2:31 PM, Andy Kogut <notifications@github.com>
wrote:

[2018-03-19 12:15] kalmi commented on #84
It gives a warning during install as the mobx peer dependency in package.json have not been updated, but otherwise works fine. Thanks!

[2018-03-19 16:39] mweststrate commented on #86
@tsiq-swyx would you mind updating that in the blog post ;-)?

[2018-03-19 16:40] mweststrate commented on #86
Also notice that my name is spelled "Michel Weststrate" ;-)

[2018-03-19 16:50] tsiq-swyx commented on #86
oops sorry, will fix!

i will find time this week to go back and fix up the rest of the blogpost. takes a lot of time to set up the examples correctly :)

[2018-03-19 21:12] richtera commented on #84
It seems to work but I am getting a whole bunch of "undefined" reaction names and I don't quite know where they are coming from. There seems to be some names not being picked up in the tooling.

[2018-03-20 16:13] andykog commented on #84
@kalmi, thanks, fixed in 5.0.1
@richtera, this is more related to mobx-react package, see https://github.com/mobxjs/mobx-react/pull/368

[2018-03-26 16:12] johnnyreilly commented on #66
I spent today digging through our webpack 4 config trying to work out why a compiled bundle contained code like this:

[code]

My expectation was that with webpack 4 and `'mode': 'production'` this meant that behind the scenes all `process.env.NODE_ENV` statements should be converted to `'production'` and consequently Uglify would automatically get its groove on with the remaining `if("production"

[2018-03-27 01:13] Jessidhia commented on #66
To rephrase what "dereference the key expression" means; the access to `process.env.NODE_ENV` is itself converted to what you put in DefinePlugin, or webpack@4's mode, but webpack/uglify don't know or care about what happens to the value after it's put in a variable.

All your checks for `process.env.NODE_ENV !== 'production'` must be repeated on every place where you want compile-time branching.

[2018-03-27 05:34] johnnyreilly commented on #66
Good suggestion @kovensky - think I might use that. I've turned my issue above into a blog post to try and spread the word; yesterday was a painful day and I want to save others from the ickyness... https://blog.johnnyreilly.com/2018/03/its-not-dead-2-mobx-react-devtools-and-the-undead.html

[2018-04-02 08:35] singggum3b opened #89 "Reaction "undefined""
With mobx v 5.0.1, all reaction name is missing
Format of the change object have been changed.

[2018-04-13 15:55] otroboe commented on #89
Any news from that ?
I'm new to mobx and I started with the version 5, so I don't know if I'm doing something wrong with some of my `reaction 'undefined'`.

[2018-04-16 11:14] spector32 commented on #89
Same here!

[2018-04-18 02:42] charleslouis opened #90 "TypeError: (0 , y.getDebugName) is not a function"
Hi,

With create-react-app, I have this error when navigating to root url "site/".
`<DevTools />` is called in App.js.

It comes from `node_modules/mobx-react-devtools/index.js:1`

"react": "^16.2.0",
"mobx": "^3.4.16",
 "mobx-react": "^4.3.5",

Strangely, the `<DevTools />` shows up in site/MyRoute.

Thanks

[2018-04-18 20:02] dtouchwyn commented on #90
I'm having the same issue.

[2018-04-21 22:21] jamespedid commented on #80
I have this issue too. The node element that is passed into the event object is text but there is no function. This should be addressed considering React can properly handle components that can simply return text.

![image](https://user-images.githubusercontent.com/1280555/39089261-da7cda18-4590-11e8-9936-d31fcedcefa2.png)

To recreate it, simply use a component like
[code]

Did not have this issu

[2018-05-01 01:49] kristian-puccio commented on #90
I had the same issue and it was fixed by using  version 4.2 of this package.
I suspect that V5 needs mobx V4 to work

[2018-06-14 14:10] sallas opened #91 "Show dependency tree breaks when attempting to use MobX v5"
Mobx v5 isn't officially supported by this package yet but I wanted to start a conversation about the biggest breaking change I found when upgrading.

This change breaks here:
https://github.com/mobxjs/mobx-react-devtools/blob/master/src/globalStore.js#L113

mobx-react solved this while keeping it backwards compatible in this commit:
https://github.com/mobxjs/mobx-react/commit/486f078e2dc1f164e9f8

[2018-06-17 03:05] jasonblalock commented on #89
I'm seeing the same thing in mobx 4.3.1 so I'm thinking it's not a v4 vs v5 issue.

[2018-06-22 08:11] corysimmons opened #92 "Uncaught Error: [mobx] Cannot obtain atom from undefined"
[code]

...using rewire mobx.. It seems to work. If I click the last icon, I get:

![image](https://user-images.githubusercontent.com/224636/41765445-192406da-75d2-11e8-890a-3dec3b41c4e8.png)

The `undefined` looks a bit worrisome, but then I click the middle icon and I get this:

![image](https://user-images.githubusercontent.com/224636/41765490-3b619a96-75d2-11e8-80db-142f77d8e780.png)

What am

[2018-06-25 13:41] benmccormick commented on #92
I'm seeing this on an application where it was previously working after upgrading to MobX 5.

From package.json

[code]

[2018-06-29 09:41] Lyfme commented on #89
so？where's the solution

[2018-06-29 09:42] Lyfme commented on #92
same here. how to solve

[2018-06-30 16:00] deadcoder0904 commented on #92
Exactly same issue https://codesandbox.io/s/7q61kvkl0

[2018-07-01 09:27] rifler commented on #58
you could provide "module" field in package.json, so webpack 2+ will prefer es6 modules build instead of cjs

example from mst
https://github.com/mobxjs/mobx-state-tree/blob/master/packages/mobx-state-tree/package.json#L5-L7

[2018-07-01 09:50] dubrovsky-kiril commented on #92
Same for me with next dependencies:
    "mobx": "^5.0.3",
    "mobx-react": "^5.2.3",
    "mobx-state-tree": "^2.2.0",
    "mobx-react-devtools": "^5.0.1"

[2018-07-04 12:20] kasper573 commented on #89
I also see the same issue in mobx 4.3.1.

[2018-07-05 08:34] lvguowei commented on #92
Same problem here.  What is it?

[2018-07-05 22:32] #61 closed, assigned to nobody

[2018-07-06 12:35] max9599 commented on #92
Same

    "mobx": "^5.0.3",
    "mobx-react": "^5.2.3",
    "mobx-react-devtools": "^5.0.1",

[2018-07-10 16:07] noah79 commented on #89
This is extremely annoying.  I guess I should have waited to upgrade...

[2018-07-10 16:20] noah79 commented on #89
I'm trying to debug application slowness and the mobx devtools have gone from extremely useful to buggy and broken.  Please fix!

[2018-07-10 17:20] mweststrate commented on #89
Note that the browser plugin version of this package is already to date!
I'm not entirely sure if this lib still adds value given the browser
plugins?

Op di 10 jul. 2018 18:20 schreef Noah Shipley <notifications@github.com>:

[2018-07-17 03:48] minooo commented on #92
+1

[2018-07-17 08:22] corysimmons commented on #92
Can you guys pipe down and just put 👍 on my issue so I don't get pinged with "Me too!" and "Same!" every other day?

I'd like to stay subscribed to this in case someone has something valuable to say.

[2018-07-17 09:03] mweststrate commented on #92
Hi folks! Sorry for the late follow up, there was some confusion about the maintenance. I'll review the open PRs and will release them soon. But if someone would be interested in actively maintaining this package that would be great! Should be a pretty small effort but having a single person overseeing the thing that would be great :)

[2018-07-17 09:08] #68 closed, assigned to nobody

[2018-07-17 09:47] mweststrate commented on #92
Released as `mobx-react-devtools@6.0.1`

[2018-07-17 09:47] #92 closed, assigned to nobody

[2018-07-17 09:47] mweststrate commented on #91
Fixed and released as `mobx-react-devtools@6.0.1`

[2018-07-17 09:47] #91 closed, assigned to nobody

[2018-07-17 09:47] mweststrate commented on #90
Fixed and released as `mobx-react-devtools@6.0.1`

[2018-07-17 09:47] #90 closed, assigned to nobody

[2018-07-17 09:47] mweststrate commented on #89
Fixed and released as `mobx-react-devtools@6.0.1`

[2018-07-17 09:47] #89 closed, assigned to nobody

[2018-07-17 09:47] mweststrate commented on #83
Released as `mobx-react-devtools@6.0.1`

[2018-07-17 09:47] #83 closed, assigned to nobody

[2018-07-17 09:48] mweststrate commented on #81
Please put more effort in filing issues

[2018-07-17 09:48] #81 closed, assigned to nobody

[2018-07-17 09:49] mweststrate commented on #80
Does this still happen with mobx-react-devtools@6.0.1?

[2018-07-17 09:51] mweststrate commented on #77
Sadly can't really change this afaik, if tracing is enabled, we use grouping in the console logs, which means that anything that is printed to the console when during a group, will be printed inside the group, regardless where it is coming from. But if you are debugging anyway, consider using break-on-error to find exceptions, rather then the console.

[2018-07-17 09:51] #77 closed, assigned to nobody

[2018-07-17 09:53] mweststrate commented on #66
In 6.0.0 and up, the package is now marked as side-effect free, which means that if you import the devtools, but don't render them (for example because you are checking process.env.NODE_ENV around your rendering), the package won't be included in the build. Hope that helps!

[2018-07-17 09:53] #66 closed, assigned to nobody

[2018-07-17 09:54] mweststrate commented on #76
Should be fixed when upgrading both `mobx-react` and `mobx-react-devtools` to the latest

[2018-07-17 09:54] #76 closed, assigned to nobody

[2018-07-17 09:55] mweststrate commented on #75
Hard to say anything useful about this one without a reproduction project

[2018-07-17 09:55] #64 closed, assigned to nobody

[2018-07-17 09:56] mweststrate commented on #60
PR would be welcome

[2018-07-17 09:56] #59 closed, assigned to nobody

[2018-07-18 07:31] corysimmons commented on #92
Thanks Michel. We're using Mobx pretty extensively at my new gig. Once I become super comfy with it I'll give serious thought to helping out and freeing you.

[2018-07-18 09:13] Ky6uk commented on #58
It seems to be fixed in https://github.com/mobxjs/mobx-react-devtools/pull/95

Now you can use something like `{process.env.NODE_ENV === 'production' || <DevTools />}` w/o side effects. But I wasn't testing it yet.

[2018-07-18 20:22] aap82 commented on #80
this
[code]
Still [does not work](https://stackblitz.com/edit/mobx-react-devtools-issue-80-hz4feg?file=index.js).

[2018-07-26 14:45] #80 closed, assigned to nobody

[2018-07-26 14:48] mweststrate commented on #80
Fixed and released as 6.0.2

cc @aap82 @jamespedid

[2018-08-04 04:16] mshibl commented on #90
still getting same issue on version 6.0.2 and mobx version 3.3.0

[2018-08-04 08:24] mweststrate commented on #90
Please upgrade MobX to 4 or 5 or downgrade the devtools to v4.

Op za 4 aug. 2018 06:16 schreef Mohamed Shibl <notifications@github.com>:

[2018-08-05 09:31] timnew opened #101 "Mobx-react-devtools reports `ReferenceError: window is not defined`"
`Mobx-react-devtools` reports `ReferenceError: window is not defined` when render the site in [Next.js](https://nextjs.org/)

I tried to wrapped the render code with different guards, but it doesn't help:
[code]

[code]
In the end, I found the error was yield when import the type rather than render it.
By de-uglify the `index.js` I found the issue occurs on iife call, which is executed when the co

[2018-08-05 09:33] timnew commented on #101
I guess the issue is caused by `next.js`'s server-side rendering, that the code is executed in node environment rather than browser one.

[2018-08-17 06:21] #60 closed, assigned to nobody

[2018-08-17 06:34] mweststrate commented on #101
Seems to be caused by https://github.com/webpack/webpack/issues/6522, will use one of the work arounds

[2018-08-17 06:40] mweststrate commented on #82
There might be a difference in on what lifecycle the highlights are triggered, it might be that the mobx tools only highlight on actual render, where the React ones update new state / or props

[2018-08-17 06:41] #58 closed, assigned to nobody

[2018-08-17 06:42] #101 closed, assigned to nobody

[2018-09-04 05:05] rokoroku opened #102 "Feature request: allow className to the DevTool component"
Instead of writing whole devtool panel as same as existing `<Panel/>` component, I'd  happy to apply my own `className` or `style` to the existing `<div />` inside the Panel (e.g. applying opacity)

Would it be PR welcomed feature?

[2018-09-04 08:07] mweststrate commented on #102
Yep, feel free to submit PR

[2018-09-07 16:35] FoxWhite commented on #66
ver. 6.0.3:
[code]
still gets me mobx-react-devtools in bundle.js.
@gilesbutler's solution works well

[2018-09-07 16:42] bel0v commented on #66
ver. 6.0.3:
[code]
still gets me mobx-react-devtools in bundle.js.
@gilesbutler's solution works well

[2018-09-20 12:13] #102 closed, assigned to nobody

[2018-10-09 16:58] wkillerud commented on #31
Firefox logs now render properly (screenshot taken in Firefox 63.0b11). The console has seen some updates since this issue was created 👍

![image](https://user-images.githubusercontent.com/1223410/46685129-fce31780-cbf4-11e8-880f-27a0f20bc97d.png)

Edge is still behaving as pictured above.

[2018-10-18 09:09] vladopaets opened #106 "Compatible with preact"
Hey, is it possible to make this package compatible with preact and preact-mobx? Thanks

[2018-12-05 03:39] nathanbirrell commented on #66
Should we mention this in the readme?

[2019-01-13 18:22] marianban commented on #66
In case of React 16.6.0 you can use lazy to conditionally import mobx-react-devtools:

[code]
then wrap it with Suspense in render:
[code]
@pdeva condition fixed, thanks for pointing out the mistake

[2019-02-10 17:18] johnstew opened #107 "[Question] - Should log all state changes log size increase by length of json?"
I'm not sure if this is me doing it or if this something that is supposed to happen. But I have an async action and I'm using `runInAction` to help resolve.

It looks like this:

[code]

In a React component I call it like this:

[code]

In the console I then get a couple hundred messages grouped under the `getLogsSuccess` action. Each one of these messages looks like it corresponds to each part o

[2019-02-13 22:42] cweekly commented on #92
I'm on mobx-react-devtools@6.0.3, and seeing the same error:

Note I've dug around a bit and found what looks to be a related issue from 2016 in the main mobx project: https://github.com/mobxjs/mobx/issues/288#issuecomment-223778275
... indicating a possible workaround of explicitly referencing a given class's properties (e.g. via console.log) before observing them. I tried that, to no avail.
So f

[2019-02-14 07:37] mweststrate commented on #107
Could you include a screenshot describing what kind of log messages you get
/ wouldn't expect? You might get a message for each entry as part of a
'reaction' for example, if each entry is rendered by a React component

On Sun, Feb 10, 2019 at 6:18 PM John Stewart <notifications@github.com>
wrote:

[2019-02-14 17:56] johnstew commented on #107
![screen shot 2019-02-14 at 12 47 42 pm](https://user-images.githubusercontent.com/2146973/52806349-ca3fa480-3056-11e9-88b1-d0e61000e0e6.png)

The `getLogsSuccess` call receives a pretty big JSON payload that will keep getting bigger over time.

I _think_ it makes sense why this is happening. It's all grouped under the one action `getLogsSuccess` but it's setting each part of the payload and that

[2019-02-15 10:18] mweststrate commented on #107
@johnstew If they are nested under the action than everything is correct indeed. `observable` will recurse over the fresh data structure and initializate all the observable fields. So this is as expected :smile:

[2019-02-15 10:18] #107 closed, assigned to nobody

[2019-02-15 10:24] mweststrate commented on #92
Please refrain from commenting on closed issues, it is quite unlikely
somebody will see them. Just open a new issue (and follow the template).

On Wed, Feb 13, 2019 at 11:42 PM Chris Weekly <notifications@github.com>
wrote:

[2019-02-19 10:48] #31 closed, assigned to nobody

[2019-02-19 18:43] pzmosquito opened #108 "support for mobx-react-lite (next iteration of mobx-react)"
https://github.com/mobxjs/mobx-react-lite

[2019-02-20 09:25] mweststrate commented on #108
See https://github.com/mobxjs/mobx-react/issues/640, mobx-react-lite will integrate with React devools directly

[2019-02-20 09:25] #108 closed, assigned to nobody

[2019-02-28 11:49] baveku opened #109 "react native cannot open app when uninstall mobx-react-dev-tools"
when I remove mobx-react-dev-tools, my react native app cannot open.
mobx-react-devtools: latest version,
simulator: iOS 12.1
[code]

[2019-03-03 07:01] #109 closed, assigned to nobody

[2019-03-03 23:38] pdeva commented on #66
@marianban the condition in your example need to be reversed:

[code]

otherwise you will load dev tool *in* the production build

[2019-03-05 01:54] pdeva opened #111 "error msg "propTypes is not defined" in 6.1.0"
Getting this error msg:

![image](https://user-images.githubusercontent.com/3190176/53775137-2eab9200-3ea6-11e9-92bd-6dfd90182092.png)

Update:
This seems to be a bug in devtools 6.1.0.
reverting to 6.0.3 fixes this.

[2019-03-05 10:07] LightGlobal commented on #111
I get the same error

[2019-03-05 15:59] mweststrate commented on #111
Should be fixed in 6.1.1!

[2019-03-05 15:59] #111 closed, assigned to nobody

[2019-03-05 16:13] richardaum commented on #111
When is 6.1.1 being released?

[2019-03-05 16:14] Ky6uk commented on #111
@richardaum it has been released already.

[2019-03-05 17:46] pdeva opened #112 "dev tools dont show up in 6.1.1"
upgrading from 6.0.3 to 6.1.1, the dev tools no longer show up in the top right corner.

my code to load them:

[code]

[2019-03-18 09:49] mweststrate opened #113 "Fix warning: "Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.""

[2019-03-18 09:50] mweststrate commented on #112
I couldn't reproduce this, could you create a reproduction in a code sandbox?

[2019-03-18 10:12] #113 closed, assigned to nobody

[2019-03-18 10:13] mweststrate commented on #113
False alarm, different package

[2019-04-02 20:10] pdeva commented on #112
ohh its seems its been moved to bottom right.
please document this. i only found this now.

[2019-04-02 20:13] pdeva opened #114 "mobx-react shouldn't be required if only using mobx-react-lite"
in our new project, we are using only functional components with react hooks.
thus, we only need `mobx` and `mobx-react-lite` as dependencies.

however, if we use `mobx-react-devtools`, then it requires `mobx-react`.

`mobx-react` shouldnt be required for using `mobx-react-devtools`, if the project only uses `mobx-react-lite`

[2019-04-04 13:19] mweststrate commented on #114
The devtools largely don't apply to lite, so adding them doesn't add
anything at this point in time.

Op di 2 apr. 2019 23:13 schreef pdeva <notifications@github.com>:

[2019-04-11 02:58] arioooooo opened #115 "I want to use the mobx devtools plugin in react-native. Is there any good advice?"
I am not sure if the project is [this](https://chrome.google.com/webstore/detail/mobx-developer-tools/pfgnfdagidkfgccljigdamigbcnndkod?utm_source=chrome-ntp-icon), I am looking forward to any help.

[2019-04-12 12:07] elektronik2k5 opened #116 "Incompatibility with React.StrictMode"
Hello and thanks for mobx and the devtools! :)

I'm trying to use the devtools in an app while using React's (relatively) new [StrictMode](https://reactjs.org/docs/strict-mode.html). But I'm getting this error:
[code]
The interesting thing is that it happens even when the devtools aren't mounted to a StrictMode tree:
[code]
I'm also able to reproduce the same issue in my real app.
Can anything be

[2019-04-15 11:59] mweststrate commented on #116
I recommend to use the browser plugin for now. The future of this tool is a
bit uncertain, as it might be largely not needed anymore once we
standardize on hooks

On Fri, Apr 12, 2019 at 2:07 PM Nick Ribal <notifications@github.com> wrote:

[2019-04-15 12:02] mweststrate commented on #115
the devtools were specifically written for react-dom and not applicable for
react-native. However, most of the functionality in these devtools (such as
displaying re-rendering) are now supported in the standard react devtools.
If similar tools exist for react-native as well, you could use those. What
specific devtools feature are you looking for?

On Thu, Apr 11, 2019 at 4:58 AM sagacious04 <notif

[2019-04-25 15:43] arioooooo commented on #115
I would like to look at Mobx management data and action activities. I would be grateful if you could recommend a few similar tools.

[2019-04-26 14:53] mweststrate commented on #115
Check out the spy api, it can be used to obtain the same knowledge, like
done in the mobx-logger package for example.

Op do 25 apr. 2019 18:43 schreef sagacious04 <notifications@github.com>:

[2019-05-31 15:09] zbeyens opened #117 "Cannot read property 'on' of undefined"
I have this error when including `<DevTools />`

![image](https://user-images.githubusercontent.com/19695832/58715011-47084b80-83c6-11e9-8aa0-77ba45af30a4.png)

Using these packages:

[code]

[2019-05-31 16:25] Kizmar commented on #117
Same issue here after updating from version 6.0.3 to 6.1.1 (in addition to several other packages). Reverted back to version 6.0.3 and I'm still getting the error. Must be related to other packages being updated? I have all the same package versions @zbeyens listed.

This is what I had previously that was working (with 6.0.3):
"mobx": "^5.9.0",
"mobx-react": "^5.4.3",
"mobx-react-router": "^4.0.5"

[2019-05-31 18:49] mweststrate commented on #117
Note that the DevTools package is not compatible with mobx-react@6 (see the
changelog of that package)

On Fri, May 31, 2019 at 6:25 PM Nicholas Westbrook <notifications@github.com>
wrote:

[2019-06-05 00:53] #38 closed, assigned to nobody

[2019-11-03 19:53] roots-ai commented on #86
This is not resolving the issue for us "mobx-react-devtools@5.0.0"

[2019-12-01 20:07] clehene commented on #92
@mweststrate Google still works after closing the github issues you know ;). It may not be convenient from a maintenance perspective, but as a "knowledge base" it's useful to get more context expecially when you land here while googling for your error.

[2020-01-31 10:42] 0x80 opened #118 "[mobx] Cannot obtain atom from [object Object]"
I think this might be similar to #92

I have no idea what this means or under what circumstances this might occur. Any pointers on where to look maybe?

Using mobx version 5.15.2

[2022-11-09 12:46] dirkpostma commented on #92
I got this error when defining `onBecomeObserved`. I solved it by moving the the `onBecomeObserved` after `makeAutoObservable(this)`